/* shared styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* header related styles */

.hdr {
    background: url(../images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 980px;
}

.hdr-div {
    color: #FFF;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    padding-left: 845px;
    margin-bottom: 25px;
}

.hdr-cont {
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    padding-left: 1200px;
}

.btn {
    text-align: right;
    margin-top: 30px;
}

.btn-one {
    color: #005FAC;
    border-radius: 5px;
    border: 0;
    background: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 25px;
}

.hdr-contnr {
    padding: 215px 230px 165px 0px;
}

/* main related styles */

.main {
    margin-top: 130px;

}

.main-contnr {
    display: flex;
    padding: 0px 325px 0px 228px;
}

.main-cont-contnr {
    margin: 230px 0px 0px 135px;
}

.main-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.main-cont {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    max-width: 415px;
}

.main-ul {
    margin-left: 20px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.main-ul-li {
    margin-bottom: 10px;
}

.plans {
    text-align: center;
}

.f-plan {
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 215px auto 50px auto;
}

.f-plan-contnr{
    display: flex;
    justify-content: space-around;
}

/* .skill{
    text-align: center;
} */

.skill-title{
    color: #151414;
text-align: center;
font-size: 30px;
font-weight: 700;
margin: 25px auto 15px auto;
}

.skill-des{
    color: #737272;
text-align: center;
font-size: 25px;
font-weight: 500;
margin-bottom: 135px;
}