/* shared styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* header related styles */

.hdr {
    background: url(../images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 980px;
}

.hdr-div {
    color: #FFF;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    padding-left: 845px;
    margin-bottom: 25px;
}

.hdr-cont {
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    padding-left: 1200px;
}

.btn {
    text-align: right;
    margin-top: 30px;
}

.btn-one {
    color: #005FAC;
    border-radius: 5px;
    border: 0;
    background: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 25px;
}

.hdr-contnr {
    padding: 215px 230px 165px 0px;
}

/* main related styles */

.main {
    margin-top: 130px;

}

.main-contnr {
    display: flex;
    padding: 0px 325px 0px 228px;
}

.main-cont-contnr {
    margin: 230px 0px 0px 135px;
}

.main-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.main-cont {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    max-width: 415px;
}

.main-ul {
    margin-left: 20px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.main-ul-li {
    margin-bottom: 10px;
}

.plans {
    text-align: center;
}

.f-plan {
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 215px auto 50px auto;
}

.f-plan-contnr {
    display: flex;
    justify-content: space-around;
}

.skill-title {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 25px auto 15px auto;
}

.skill-des {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 135px;
}

.bnr {
    background: url('../images/gradient1.png'), url('../images/watch.png');
    border-radius: 5px;
    margin: 0px 230px 230px 230px;
    background-position: center, center;
    background-size: cover;
    width: 75%;
    height: 330px;
}

.bnr-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    padding: 60px 620px 24px 65px;
}

.bnr-btn {
    color: #005FAC;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 915px 60px 65px;
}

.btn-two {
    color: #005FAC;
    border-radius: 5px;
    border: 0;
    background: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 35px;
}

/* footer style */

footer {
    display: flex;
    background: #151414;
    gap: 100px;
    padding: 130px 230px;
}

footer>div>h2 {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 15px;
}

.ftr-cnt {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 25px;
    width: 485px;
}

.ftr-ml {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
}

.ftr-ph {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 35px;
}

footer div h3 {
    color: #FFF;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 30px;
}

.col {
    width: 50%;
}

.scl-lnk a {
    margin-right: 25px;
}

.ml {
    width: 325px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #FFF;
    background-color: #151414;
    color: #F3F3F3;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 160px 20px 20px;
    margin-bottom: 15px;
}

.btn-thr {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #005FAC;
    width: 170px;
    height: 65px;
}

#form {
    /* display: block; */
}